In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
my_face = pd.read_csv('../database/analytical_take_home_data_v3.csv')

In [13]:
my_face.head()

   treatment company_size  campaign_spend  campaign_budget
0      False        small         10.4477           3.9035
1      False       medium          3.7776           1.9872
2      False       medium         46.1880          55.4523
3      False        small          6.6271           6.5136
4      False        small         92.3405          83.1018

1. How many campaigns have overspend of greater than 1% of their budget in the
control group? In the treatment group?

In [30]:
 control = my_face.query("treatment == False")

In [31]:
treatment = my_face.query("treatment == True").reset_index()

In [20]:
def overspending(data):
    return sum(1 for i in range(data.shape[0]) 
        if data.campaign_spend[i] > data.campaign_budget[i]*1.01)

In [21]:
overspending(control)

5716

In [33]:
overspending(treatment)

5180