In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
my_face = pd.read_csv('../database/analytical_take_home_data_v3.csv')

In [13]:
my_face.head()

   treatment company_size  campaign_spend  campaign_budget
0      False        small         10.4477           3.9035
1      False       medium          3.7776           1.9872
2      False       medium         46.1880          55.4523
3      False        small          6.6271           6.5136
4      False        small         92.3405          83.1018

1. How many campaigns have overspend of greater than 1% of their budget in the
control group? In the treatment group?

In [49]:
 control = my_face.query("treatment == False")

In [31]:
treatment = my_face.query("treatment == True").reset_index()

In [20]:
def overspending(data):
    return sum(1 for i in range(data.shape[0]) 
        if data.campaign_spend[i] > data.campaign_budget[i]*1.01)

In [21]:
overspending(control)

5716

In [33]:
overspending(treatment)

5180

2. Was the new product effective at reducing overspend, and was it more or less
effective depending on the company size? Put together an analysis describing
how the treatment affected overspend.

With the treatment, 536 companies don't present overspending, now it's necessary look the differences between control and treatment groups according to the size of the companies.

I'm going to add a column, called **overspending**, with booleans as entries, where True indicates if a company has and overspend greater than 1% of its budget, and False if there is not such overspend.

In [45]:
def overspend_tag(data):
    return [True if data.campaign_spend[i] > data.campaign_budget[i]*1.01 else False 
            for i in range(data.shape[0])]

In [53]:
control['overspending'] = overspend_tag(control))

/tmp/ipykernel_1049044/1103851632.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  control['overspending'] = pd.Series(overspend_tag(control))

In [54]:
control

      treatment company_size  campaign_spend  campaign_budget  overspending
0         False        small         10.4477           3.9035          True
1         False       medium          3.7776           1.9872          True
2         False       medium         46.1880          55.4523         False
3         False        small          6.6271           6.5136          True
4         False        small         92.3405          83.1018          True
...         ...          ...             ...              ...           ...
7728      False        large         93.6252          85.5513          True
7729      False        small         50.2789          49.9137         False
7730      False        small         12.1644           5.0362          True
7731      False        small       1663.3740         621.7328          True
7732      False       medium        103.4369         103.0482         False

[7733 rows x 5 columns]